<template>
  <div class="goRight">
    <ul>
      <li><a href="#home"><h2>H O M E  . .</h2></a></li>
      <li><a href="#news"><h2>N E W S  . .</h2></a></li>
      <li><a href="#contact"><h2>C O N T A C T S  . .</h2></a></li>
      <li><a href="#about"><h2>A B O U T  . .</h2></a></li>
    </ul>


  </div>

</template>

<script>
export default {
  name: 'additional-menu',
};
</script>

<style scoped>
  h2 {
    text-shadow: black;
  }
  ul {
    float: right;
    list-style-type: none;
    alignment: right;
    margin-right: 0;
    padding-right: 0;
    width: 350px;
    background: rgba(238, 238, 238, 0);
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease;
  }

  li a {
    text-decoration-style: dotted;
    display: block;
    color: #ffffff;
    padding: 6px 10px;
    text-decoration: none;
    align-content: right;
    text-align: right;
  }

  /* Change the link color on hover */
  li a:hover {
    background: url("../pic/2.png");
    color: white;
  }
  </style>
