<template>
<div>
  <nav class="ull">
    <li><a href="#dd"><Clock :displaySeconds="true" :blink="true" class="Clock"/></a></li>
  </nav>
  <nav>
    <li><a href="#dd" class="rightSlk">Wer zwei Hasen auf einmal jagt bekommt keinen</a></li>
  </nav>
  <div class="backgr">
  </div>
</div>
</template>

<script>
import Clock from 'vue-digital-clock';
import AdditionalMenu from './AdditionalMenu';
import CurrentDate from './CurrentDate';

export default {
  components: {
    CurrentDate,
    AdditionalMenu,
    Clock,
  },
  name: 'top-menu',
};

</script>

<style scoped>
.backgr {
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 48px;
  width: 100%;
  z-index: 1;
}
.rightSlk {
  position: fixed;
  top: 0;
  right: 1%;
  z-index: 2;
}

.Clock {
  font-size: 14px;
}

.ull {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 17%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(223, 0, 1, 0);
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



</style>
