<template>
<div class="container">
  <h1>HABIT TRACKER</h1>
  <li v-if="one === ''"> <br> <br> <br> <input v-model="message" placeholder="Enter the habbit">  <button v-on:click = "one = message"> add </button> </li>
  <li v-else-if="one !== ''"> <habit :content="one"/> </li>
  <li v-if="two === '' && one !==''"> <br> <br> <br>  <input v-model="message" placeholder="Enter the habbit"> <button v-on:click = "two = message"> add </button> </li>
  <li v-else-if="two !== ''"> <habit :content="two"/> </li>
  <li v-if="three === '' && two !==''"><br> <br> <br>  <input v-model="message" placeholder="Enter the habbit"> <button v-on:click = "three = message"> add </button> </li>
  <li v-else-if="three !== ''"> <habit :content="three"/> </li>
  <li v-if="four === '' && three !==''"><br> <br> <br>  <input v-model="message" placeholder="Enter the habbit"> <button v-on:click = "four = message"> add </button> </li>
  <li v-else-if="four !== ''"> <habit :content="four"/> </li>
  <li v-if="five === '' && four !==''"> <br> <br> <br> <input v-model="message" placeholder="Enter the habbit"> <button v-on:click = "five = message"> add </button> </li>
  <li v-else-if="five !== ''"> <habit :content="five"/> </li>
  <li v-if="six === '' && five !==''"> <br> <br> <br> <input v-model="message" placeholder="Enter the habbit"> <button v-on:click = "six = message"> add </button> </li>
  <li v-else-if="six !== ''"> <habit :content="six"/> </li>
  <li v-if="seven === '' && six !==''"><br> <br> <br>  <input v-model="message" placeholder="Enter the habbit"> <button v-on:click = "seven = message"> add </button> </li>
  <li v-else-if="seven !== ''"> <habit :content="seven"/> </li>
  <li v-if="eight === '' && seven !==''"> <br> <br> <br> <input v-model="message" placeholder="Enter the habbit"> <button v-on:click = "eight = message"> add </button> </li>
  <li v-else-if="eight !== ''"> <habit :content="eight"/> </li>
  <li v-if="nine === '' && eight !==''"><br> <br> <br>  <input v-model="message" placeholder="Enter the habbit"> <button v-on:click = "nine = message"> add </button> </li>
  <li v-else-if="nine !== ''"> <habit :content="nine"/> </li>
  <li v-if="ten === '' && nine !==''"> <br> <br> <br> <input v-model="message" placeholder="Enter the habbit"> <button v-on:click = "ten = message"> add </button> </li>
  <li v-else-if="ten !== ''"> <habit :content="ten"/> </li>
  <br>
  <button v-on:click = "restore">restore</button>
</div>
</template>

<script>
import saveState from 'vue-save-state';
import Habit from './Habit';


export default {
  components: { Habit },
  name: 'habit-tracker',
  mixins: [saveState],
  data() {
    return {
      one: '',
      two: '',
      three: '',
      four: '',
      five: '',
      six: '',
      seven: '',
      eight: '',
      nine: '',
      ten: '',
    };
  },
  methods: {
    getSaveStateConfig() {
      return {
        cacheKey: 'habitTracker',
      };
    },
    restore() {
      this.one = '';
      this.two = '';
      this.three = '';
      this.four = '';
      this.five = '';
      this.six = '';
      this.seven = '';
      this.eight = '';
      this.nine = '';
      this.ten = '';
    },
  },
};
</script>

<style scoped>
  .container{
    padding: 0 7% 3% 7%;
    min-height: 35vh;
    min-width: 30vw;
    width: min-content;
    border-radius: 1em;
    background: rgba(74, 74, 74, 0.51);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.37);
  }
  h1 {
    font-size: 40px;
    position: relative;
    top: 19px;
    left: -13%;
    color: rgba(0, 0, 0, 0.17);
    border: black;
  }
  input{
    width: 250px;
    background-color: rgba(165, 146, 125, 0.16);
    border-radius: 5px;
    height: 35px;
    font-size: medium;
    border: black;
  }
  button{
    background-color: rgba(0, 0, 0, 0.2); /* grey */
    border: none;
    color: rgba(255, 255, 255, 0.67);
    width: 90px;
    padding: 10px 14px;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
  }
</style>
