<!--suppress ALL -->
<template>
<div class="cont">
  <table>
    <tr>
      <th><div class="reddiv" v-on:click="increaseC2"> {{counter2}}</div></th>
      <th><div class="greendiv" v-on:click="increaseC1"> {{counter}}</div></th>
      <th class="margleft">{{content}}</th>
    </tr>
  </table>
</div>
</template>

<script>
export default {
  name: 'habit',
  props: ['content'],
  data() {
    let x = 0;
    let y = 0;
    const key1 = this.content;
    const key2 = `${this.content}a`;
    if (localStorage.getItem(key1) != null) {
      x = Number(localStorage.getItem(key1));
    }
    if (localStorage.getItem(key2) != null) {
      y = Number(localStorage.getItem(key2));
    }
    return {
      counter: x,
      counter2: y,
      key1,
      key2,
    };
  },
  methods: {
    increaseC1() {
      localStorage.setItem(this.key1, (this.counter + 1).toString());
      this.counter = this.counter + 1;
    },
    increaseC2() {
      localStorage.setItem(this.key2, (this.counter2 + 1).toString());
      this.counter2 = this.counter2 + 1;
    },
  },
};
</script>

<style scoped>
  table th {
    padding: 3px;
  }
  .greendiv {
    background-color: rgba(1, 75, 1, 0.55);
    border-radius: 5px;
    width: 40px;
    height: 33px;
    cursor: pointer;
    padding-top: 10%;
    margin: 10%;
    font-size: x-large;
    font-weight: bolder;
    color: rgba(254, 247, 236, 0.59);
  }
  .reddiv {
    background-color: rgba(75, 4, 0, 0.55);
    border-radius: 5px;
    cursor: pointer;
    width: 40px;
    height: 33px;
    padding-top: 10%;
    margin: 10%;
    font-size: x-large;
    font-weight: bolder;
    color: rgba(254, 247, 236, 0.59);
  }
  .cont {
    font-size: large;
    padding-left: 7px;
    font-family: 'Lato', sans-serif !important;
    color: rgba(203, 185, 163, 0.85);
    width: max-content;
  }
  .margleft {
    padding-left: 20px;
  }

</style>
