<template>
  <div class="container mainFrameFromSides">
    <div class="mug-coffee">
      <div class="smoke-container"><svg width="80px" height="73px" viewbox="0 0 31 73"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g class="smokes" transform="translate(2.000000, 2.000000)" stroke="#BEBEBE" stroke-width="5"><g class="smoke-1"><path id="Shape1" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path></g><g class="smoke-2"><path id="Shape2" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path></g><g class="smoke-3"><path id="Shape3" d="M0.5,8.8817842e-16 C0.5,8.8817842e-16 3.5,5.875 3.5,11.75 C3.5,17.625 0.5,17.625 0.5,23.5 C0.5,29.375 3.5,29.375 3.5,35.25 C3.5,41.125 0.5,41.125 0.5,47"></path></g></g></g></svg></div>
      <div
        class="mug"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'cup-of-coffee',
};
</script>

<style scoped>

  .container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding-top: 10%;
  }
  .mug-coffee {
    max-width: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .smoke-container {
    display: flex;
    position: relative;
    width: 100px;
    margin: 0 auto;
    margin-left: 24px;
  }
  .smoke-1 {
    animation: shift 5s linear 0.5s infinite;
    opacity: 0;
  }
  .smoke-2 {
    animation: shift-2 4s linear 0.6s infinite;
    opacity: 0;
  }
  .smoke-3 {
    animation: shift-3 5s linear 1.2s infinite;
    opacity: 0;
  }
  .mug {
    width: 90px;
    height: 105px;
    border-radius: 5px;
    background-color: rgb(155, 150, 155);
    position: relative;
    margin: 0 auto;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
  }
  .mug:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: -20px;
    top: 15%;
    width: 80px;
    height: 45px;
    border: 8px solid rgb(150, 148, 155);
    border-radius: 15px;
    box-shadow: 1px 3px 4px rgba(0,0,0,0.2);
  }
  .smokes {
    transform: translateX(20px);
  }
  @-moz-keyframes shift {
    0% {
      transform: translate(10px, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(10px, 0%);
      opacity: 0;
    }
  }
  @-webkit-keyframes shift {
    0% {
      transform: translate(10px, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(10px, 0%);
      opacity: 0;
    }
  }
  @-o-keyframes shift {
    0% {
      transform: translate(10px, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(10px, 0%);
      opacity: 0;
    }
  }
  @keyframes shift {
    0% {
      transform: translate(10px, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(10px, 0%);
      opacity: 0;
    }
  }
  @-moz-keyframes shift-2 {
    0% {
      transform: translate(0, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes shift-2 {
    0% {
      transform: translate(0, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-o-keyframes shift-2 {
    0% {
      transform: translate(0, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @keyframes shift-2 {
    0% {
      transform: translate(0, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
  @-moz-keyframes shift-3 {
    0% {
      transform: translate(-10px, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(-10px, 0);
      opacity: 0;
    }
  }
  @-webkit-keyframes shift-3 {
    0% {
      transform: translate(-10px, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(-10px, 0);
      opacity: 0;
    }
  }
  @-o-keyframes shift-3 {
    0% {
      transform: translate(-10px, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(-10px, 0);
      opacity: 0;
    }
  }
  @keyframes shift-3 {
    0% {
      transform: translate(-10px, 155%);
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      transform: translate(-10px, 0);
      opacity: 0;
    }
  }

</style>
