<template>
<footer>
  <canvas id="myCanvas" width="800" height="80"
          style="border:0px solid #222222;">
    Your browser does not support the canvas element.
  </canvas>
</footer>
</template>

<script>
export default {
  name: 'foter',
  mounted() {
    const canvas = document.getElementById('myCanvas');
    const ctx = canvas.getContext('2d');
    ctx.transform(1, 0, 0, 1, 0, 0);
    ctx.font = '20px Arial';
    ctx.fillStyle = 'black';
    ctx.textAlign = 'center';
    ctx.fillText('P E N K O    B O R I S       SIT   FEL  2018', canvas.width / 2, canvas.height / 2);
  },
};
</script>

<style scoped>
  @font-face {
    font-family: 'idk';
    src: url('https://fonts.googleapis.com/css?family=VT323');
  }
  footer{
    position: relative;
    top: 100vh;
  }

</style>
