<template>
  <div id="app" class="app">
    <p>Pomodoro</p>
    <div id="time-box" v-bind:style="timerBoxStyle">
      <div id="timer">{{displayTime}}</div>
    </div>
    <div class="setter">
    <div id="down" class="toggle" @click="changeTime">-</div>
    <div id="userTime">{{displayUserTime}}</div>
    <div id="up" class="toggle" @click="changeTime">+</div>
  </div>
    <div id="goPause-btn" @click="goPause" class="stopped">{{goPauseBtnText}}</div>
    <div id="reset-btn" @click="reset">Reset</div>
  </div><!--/#app-->
</template>

<script>
export default {
  name: 'pomodoro-timer',
  data() {
    return {
      clockCount: 1500,
      count: 1500,
      countdownStatus: 'stopped',
    };
  },
  methods: {
    changeTime(e) {
      if (this.countdownStatus === 'stopped') {
        switch (e.target.id) {
          case 'up':
            this.clockCount += 60;
            this.count = this.clockCount;
            break;
          case 'down':
            if (this.clockCount > 60) {
              this.clockCount -= 60;
              this.count = this.clockCount;
            }
            break;
          default:
            break;
        }
      }// end countdownStatus if
    },
    goPause() {
      const status = this.countdownStatus;
      if (status === 'stopped') {
        this.countdownStatus = 'started';
        this.startClock();
      }
      if (status === 'started') {
        this.countdownStatus = 'stopped';
        this.stopClock();
      }
    },
    startClock() {
      this.countdownID = setInterval(this.countDown, 1000);
    },
    countDown() {
      this.count = this.count - 1;
      if (this.count === 0) {
        this.stopClock();
        this.reset();
      }
    },
    stopClock() {
      clearInterval(this.countdownID);
      this.countdownID = undefined;
    },
    reset() {
      if (this.countdownStatus === 'started') {
        this.countdownStatus = 'stopped';
      }
      this.stopClock();
      this.count = this.clockCount;
    },
  },
  computed: {
    displayUserTime() {
      return (this.clockCount / 60).toString();
    },
    displayTime() {
      let secs;

      const mins = Math.floor((this.count / 60)).toString();
      secs = (this.count % 60).toString();

      if (secs.length < 2) {
        secs = `0${secs}`;
      }
      const timeStr = `${mins}:${secs}`;

      return timeStr;
    },
    goPauseBtnText() {
      if (this.countdownStatus === 'stopped') {
        return 'Go!';
      }
      if (this.countdownStatus === 'started') {
        return 'Pause';
      }
      return null;
    },
    timerBoxStyle() {
      const transparent = (this.clockCount - this.count) / this.clockCount;
      if (transparent === 0 && this.countdownStatus === 'stopped') {
        return { 'background-color': 'rgba(226, 214, 214, 0.7' };
      }
      return { 'background-color': `rgba(226, 214, 214,${transparent}` };
    },
  },
};
</script>

<style scoped>
  .app {
    background-color: rgba(74, 74, 74, 0.51);
    color: rgba(226, 214, 214, 0.49);
    position: relative;
    left: 30px;
    width: 300px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 1em;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.37);
  }
  .setter {
    background-color: rgba(54, 54, 53, 0.29);
    color: rgba(232, 224, 236, 0.51);
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 25%;
  }

  #time-box {
    background-color: rgb(70, 69, 71);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    margin: 16px auto;
    border: 1px solid rgba(70, 70, 70, 0.59);
    position: relative;
  }

  #timer {
    color: rgba(112, 111, 114, 0.82);
    position: absolute;
    width: 300px;
    top: 50%;
    font-size: 60px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  #goPause-btn {
    background-color: rgba(53, 52, 54, 0.29);
    color: rgba(236, 236, 236, 0.64);
    margin: 16px 25%;
    border-radius: 15px;
    cursor: pointer;
  }

  #goPause-btn:hover {
    background-color: #b1b0b5;
  }

  #goPause-btn:active {
    background-color: #b5b5b2;
  }

  .toggle {
    width: 33.33%;
  }
  .toggle:hover {
    background-color: #b5b1b4;
  }

  #reset-btn {
    display: inline-block;
    background-color: rgba(50, 47, 50, 0.35);
    color: rgba(209, 204, 209, 0.41);
    font-size: 16px;
    margin: 10px auto;
    padding: 5px;
    border-radius: 5px;
  }

  #reset-btn:hover {
    background-color: rgba(225, 221, 226, 0.39);
  }
</style>
