<template>
  <audio controls>
    <source src="../pic/rain.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</template>

<script>
export default {
  name: 'rain-sound',
};
</script>

<style scoped>
  audio{
    margin: auto;
    padding-top: 80px;
  }
  /*.rain {*/
    /*width: 150px;*/
    /*height: 50px;*/
    /*border-radius: 15px;*/
    /*background-image: url("../pic/rain.png");*/
    /*margin: auto;*/
  /*}*/
  /*img {*/
    /*margin: auto;*/
    /*padding-top: 32%;*/
    /*cursor: pointer;*/
  /*}*/
</style>
