<template>
  <div class="app">
    <form class="form" v-on:submit="addTodo">
      <input class="input form__input" v-model="inputVal"/>
      <button class="btn form__submit-btn" type="submit">Add</button>
    </form>
    <transition-group tag="ol" name="list" class="todo-list">
      <li
        class="todo-list__item"
        v-bind:class="{ complete: todo.complete }"
        v-bind:key="index"
        v-for="(todo, index) in filteredTodos">
        <button
          class="todo-list__item-content"
          v-on:click="toggleTodo(todo)">
          {{ todo.text }}
        </button>
        <button
          class="btn todo-list__item-remove"
          v-on:click="deleteTodo(index)">
          <i class="fa" v-bind:class="[todo.complete ? 'fa-check' : 'fa-times']"></i>
        </button>
      </li>
    </transition-group>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */

const filters = {
  all(todos) {
    return todos;
  },
  complete(todos) {
    return todos.filter(todo => todo.complete);
  },
  incomplete(todos) {
    return todos.filter(todo => !todo.complete);
  },
};
const STORAGE_KEY = 'vue-js-todo-P7oZi9sLSaturday';
const todoStorage = {
  fetch() {
    const todos = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
    return todos;
  },
  save(todos) {
    localStorage.setItem(STORAGE_KEY, JSON.stringify(todos));
  },
};
export default {
  name: 'saturday',
  data() {
    return {
      inputVal: '',
      todos: todoStorage.fetch(),
      visibility: 'all',
    };
  },
  watch: {
    todos: {
      handler(todos) {
        todoStorage.save(todos);
      },
    },
  },
  computed: {
    filteredTodos() {
      return filters[this.visibility](this.todos);
    },
  },
  methods: {
    addTodo(e) {
      e.preventDefault();
      if (this.inputVal) {
        this.todos.push({
          text: this.inputVal,
          complete: false,
        });
      }
      this.inputVal = '';
    },
    toggleTodo(todo) {
      todo.complete = !todo.complete;
    },
    filterTodos(filter) {
      this.visibility = filter;
    },
    deleteTodo(index) {
      this.todos.splice(index, 1);
    },
  },
};

</script>

<style scoped>
  button {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: 'Lato', sans-serif !important;
    font-weight: bolder;
  }
  button:focus {
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }

  .app {
    padding: 1%;
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1em;
    background: rgba(74, 74, 74, 0);
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0);
    font-family: 'Lato', sans-serif !important
  }

  .btn {
    font-size: 14px;
    margin: 0 0.5em;
    border-radius: 1em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: rgba(188, 189, 188, 0.7);
    border: 1px solid;
    letter-spacing: 1px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(180, 179, 179, 0.7);
    border: rgba(180, 173, 176, 0.33) 1px solid;
    transition: 250ms ease-out;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    background: rgba(97, 96, 99, 0.7);
  }

  .form {
    width: 95%;
    padding: 1.5rem 1rem 0 1.6rem;
    display: flex;
  }
  .form__input {
    color: rgba(254, 255, 245, 0.84);
    width: 100%;
    font-size: 14px;
    margin: 0 0.5em;
    border-radius: 1em;
    padding: 0.75em 1.5em;
    background: rgba(97, 97, 99, 0.15);
    font-family: "Source Sans Pro", sans-serif;
    border: rgba(99, 92, 99, 0.52) 1px solid;
    transition: border 250ms ease-out;
  }
  .form__input:focus {
    border-top-width: 1px;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    outline: none;
  }
  .todo-list {
    width: 100%;
    padding: 0 2rem 0 2rem;
    flex: 1;
  }
  .todo-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 3px;
    transition: 200ms;
    color: rgba(235, 238, 234, 0.51);
  }
  .todo-list__item:last-child {
    margin-bottom: 0;
  }
  .todo-list__item.complete {
    color: rgba(236, 233, 238, 0.5);
  }
  .todo-list__item.complete .todo-list__item-content:after {
    background: rgba(238, 226, 233, 0.5);
  }
  .todo-list__item-content {
    position: relative;
  }
  .todo-list__item-content:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(192, 191, 185, 0.76);
    transition: 250ms ease-out;
    transform-origin: center;
    transform: scalex(0);
  }
  .todo-list__item-content:hover:after, .todo-list__item-content:focus:after {
    transform: scalex(1);
  }
  .todo-list__item-remove {
    margin-left: 0.5em;
    background: none;
    border: 1px solid;
    color: inherit;
    padding: 0;
    line-height: 1;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 80%;
  }

  .filters {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 1rem 1.5rem 1rem;
  }

  .list-move,
  .list-leave-active,
  .list-enter-active {
    transition: 500ms cubic-bezier(0.87, -0.41, 0.19, 1.44);
  }

  .list-enter,
  .list-leave-active {
    transform: translate(100%, 0);
    opacity: 0;
  }
</style>
