<template>
<div class="move">
  <table>
    <tr>
      <td><h3>Monday</h3></td>
      <td><h3>Tuesday</h3></td>
      <td><h3>Wednesday</h3></td>
      <td><h3>Thursday</h3></td>
    </tr>
    <tr>
      <td><list-for-weekly-p/></td>
      <td><tuesday/></td>
      <td><wednesday/></td>
      <td><thursday/></td>
    </tr>
    <tr>
      <td><h3>Friday</h3></td>
      <td><h3>Saturday</h3></td>
      <td><h3>Sunday</h3></td>
    </tr>
    <tr>
      <td><friday/></td>
      <td><saturday/></td>
      <td><sunday/></td>
    </tr>
  </table>
</div>
</template>

<script>
import ToDoList from '../SingleComponents/ToDoList';
import ListForWeeklyP from './Monday';
import Tuesday from './Tuesday';
import Wednesday from './Wednesday';
import Thursday from './Thursday';
import Friday from './Friday';
import Saturday from './Saturday';
import Sunday from './Sunday';


export default {
  components: {
    Sunday,
    Saturday,
    Friday,
    Thursday,
    Wednesday,
    Tuesday,
    ListForWeeklyP,
    ToDoList },
  name: 'weekly-planner',
};
</script>

<style scoped>
  .move {
    position: fixed;
    left:0;
    padding-top: 2%;
    border-radius: 20px;
    background-color: #0c0c0c;
    width: 100%;
    height: 100%;
  }
table{
  width: 100%;
  border-radius: 2em;
  padding: 5%;
}
td{
    padding: 1%;
 }
da{
  padding: 5%;
  position: relative;
  top: 5%;
}
  h3 {
    color: #adadad;
  }
</style>
