<template>
  <div>
    <top-menu class="getup"/>
    <div id="toggler">
      <span class="forButton" v-on:click="openNav()">&#9776; </span>
      <span class="forButton2" v-on:click="show = !show"> weekly planner  </span>
    </div>  <!-- trigger for menu navigation -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" v-on:click="closeNav()">&times;</a>
      <div class="centralizeOnSlideBar">
        <button class="btn" v-on:click="restorePosition()"> RESTORE POSITION OF ELEMENTS </button>
        <br>
        <br>
        <h3>To-do List</h3>
        <switches v-model="show1">To-do List</switches>
        <br>
        <h3>Pomodoro Timer</h3>
        <switches v-model="show2">Pomodoro Timer</switches>
        <br>
        <h3>Habit Tracker</h3>
        <switches v-model="show3">Habit Tracker</switches>
        <br>
        <h3>Cup of Coffee</h3>
        <switches v-model="show4">Cup of Coffee</switches>
        <br>
        <h3>Sticker</h3>
        <switches v-model="show5">Sticker</switches>
        <br>
        <h3>Sticker</h3>
        <switches v-model="show6">Sticker</switches>
        <br>
        <rain-sound/>
      </div>
    </div> <!-- sidebar -->
    <div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br><br>
    </div>
    <div class="centralize">
    <table>
      <tr>
        <th><div id="one" v-if="show1" v-draggable v-bind:style="{ position: posi, top: top1, left: left1}"> <to-do-list/></div> </th>
        <th><div id="two" v-if="show2" v-draggable v-bind:style="{ position: posi, top: top2, left: left2}"> <pomodoro-timer/> </div> </th>
      </tr>
      <tr>
        <th><br><br><br><br></th>
      </tr>
      <tr>
        <th><div id="three" v-if="show3" v-draggable v-bind:style="{ position: posi, top: top3, left: left3}"> <habit-tracker/> </div></th>
        <th><div id="four" v-if="show4" v-draggable v-bind:style="{ position: posi, top: top4, left: left4}"> <cup-of-coffee/></div></th>
      </tr>
      <tr>
        <th><div id="five" v-if="show5" v-draggable v-bind:style="{ position: posi, top: top5, left: left5}"> <stickers/></div></th>
        <th><div id="six" v-if="show6" v-draggable v-bind:style="{ position: posi, top: top6, left: left6}"> <stickers2/></div></th>
      </tr>

    </table>
    </div> <!-- grid -->
    <transition name="fade"><weekly-planner v-if="show === true" class="downdowndown"/></transition>
    <foter/>
  </div>
</template>

<script>
  import Switches from 'vue-switches';
import saveState from 'vue-save-state';
import { Draggable } from 'draggable-vue-directive';
import { setupCalendar } from 'v-calendar';
import 'v-calendar/lib/v-calendar.min.css';
import Clock from 'vue-digital-clock';
import AdditionalMenu from './Menu/AdditionalMenu';
import TopMenu from './Menu/TopMenu';
import CupOfCoffee from './SingleComponents/CupOfCoffee';
import ToDoList from './SingleComponents/ToDoList';
import HabitTracker from './HabitTracker/HabitTracker';
import PomodoroTimer from './SingleComponents/PomodoroTimer';
import Notes from './Notes/Notes';
import Stickers from './Notes/Stickers';
import Stickers2 from './Notes/Stickers2';
import WeeklyPlanner from './WeeklyPlanner/WeeklyPlanner';
  import RainSound from "./SingleComponents/RainSound";
  import Foter from "./SingleComponents/Footer";
setupCalendar({
  firstDayOfWeek: 2, // ...other defaults
});

export default {
  name: 'slide-menu',
  mixins: [saveState],
  components: {
    Foter,
    RainSound,
    Switches,
    WeeklyPlanner,
    Stickers2,
    Stickers,
    Notes,
    PomodoroTimer,
    HabitTracker,
    ToDoList,
    CupOfCoffee,
    TopMenu,
    AdditionalMenu,
    Clock,
  },
  directives: {
    Draggable,
  },
  data() {
    return {
      handleId: 'handle-id',
      draggableValue: {
        handle: undefined,
      },
      show: false,
      show1: false,
      show2: false,
      show3: false,
      show4: false,
      show5: false,
      show6: false,
      posi: 'absolute',
      top1: '100px',
      top2: '100px',
      top3: '600px',
      top4: '600px',
      top5: '1200px',
      top6: '1200px',
      left1: '800px',
      left2: '200px',
      left3: '800px',
      left4: '200px',
      left5: '800px',
      left6: '200px',
    };
  },
  mounted() {
    this.draggableValue.handle = this.$refs[this.handleId];
  },
  created () {
    window.addEventListener('beforeunload', this.savePosition1);
  },
  methods: {
    openNav() {
      document.getElementById('mySidenav').style.width = '500px';
    },
    closeNav() {
      document.getElementById('mySidenav').style.width = '0';
    },
    allowDrop(ev) {
      ev.preventDefault();
    },
    drag(ev) {
      ev.dataTransfer.setData('text', ev.target.id);
    },
    drop(ev) {
      ev.preventDefault();
      const data = ev.dataTransfer.getData('text');
      ev.target.appendChild(document.getElementById(data));
    },
    savePosition1() {
      if(this.show1){
        let testDiv = document.getElementById("one").getBoundingClientRect();
        if (testDiv.top > 0 && testDiv.left > 0) {
          this.top1 = testDiv.top +'px';
          this.left1 = testDiv.left +'px';
        }
      }
      if(this.show2){
        let two = document.getElementById("two").getBoundingClientRect();
        if (two.top > 0 && two.left > 0) {
          this.top2 = two.top + 'px';
          this.left2 = two.left + 'px';
        }
      }
      if(this.show3){
        let three = document.getElementById("three").getBoundingClientRect();
        if (three.top > 0 && three.left > 0) {
          this.top3 = three.top +'px';
          this.left3 = three.left +'px';
        }
      }
      if(this.show4){
        let four = document.getElementById("four").getBoundingClientRect();
        if (four.top > 0 && four.left > 0) {
          this.top4 = four.top +'px';
          this.left4 = four.left +'px';
        }
      }
      if(this.show5){
        let five = document.getElementById("five").getBoundingClientRect();
        if (five.top > 0 && five.left > 0) {
          this.top5 = five.top +'px';
          this.left5 = five.left +'px';
        }
      }
      if(this.show6){
        let six = document.getElementById("six").getBoundingClientRect();
        if (six.top > 0 && six.left > 0) {
          this.top6 = six.top + 'px';
          this.left6 = six.left + 'px';
        }
      }
      location.reload();
    },
    restorePosition() {
      this.top1 = '100px';
        this.top2 = '100px';
        this.top3 = '600px';
        this.top4 = '600px';
        this.top5 = '1200px';
        this.top6 ='1200px';
        this.left1 = '800px';
        this.left2 = '200px';
        this.left3 = '800px';
        this.left4 = '200px';
        this.left5 = '800px';
        this.left6 = '200px';
        location.reload();
    },

    getSaveStateConfig() {
      return {
        cacheKey: 'mainComponent',
      };
    },
  },
};
</script>

<style scoped>
h3{
  color: #969696;
  font-family: inherit;
}
  .btn {
    font-size: 14px;
    margin: 0 0.5em;
    border-radius: 2em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: rgba(186, 182, 189, 0.7);
    border: 1px solid;
    letter-spacing: 1px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(180, 173, 180, 0.7);
    border: rgba(177, 171, 180, 0.33) 1px solid;
    transition: 250ms ease-out;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    background: rgba(98, 98, 99, 0.7);
  }
  .downdowndown {
    position: sticky;
    top: 0;
    left: 0;
  }
  .getup{
    z-index: 5;
  }
  table{
    width: 100%;
  }
  .centralize {
    margin: auto;
    width: 75%;
    padding: 10px;
  }
  .centralizeOnSlideBar {
    margin: auto;
    width: 80%;
    padding: 5%;
  }
  .forButton {
    font-size:30px;
    cursor:pointer;
    color: rgba(144, 143, 145, 0.82);
    position: fixed;
    z-index: 3;
    top: 0.3%;
    left: 1%;
  }
  .forButton2 {
    font-size:24px;
    cursor:pointer;
    color: rgba(140, 140, 145, 0.82);
    position: fixed;
    z-index: 3;
    top: 0.8%;
    left: 5%;
  }
  .forButton2:hover {
    color: rgba(79, 79, 83, 0.82);
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
</style>
