<template>
  <div class="mainFrame">

    <div v-if="showEverything">
      <img src="http://www.technobelieve.com/wp-content/uploads/2017/09/passion-3.jpg" class="fullscr"/>
      <br>
      <h2 class="welcomeText"> W E L C O M E </h2>
      <br><br><br><br><br><br>
      <button v-on:click="show = !show" class="button button4"> Get Started </button>
      <transition name="fade">
        <div v-if="show" class="slideUpGetStarted">
          <button v-on:click="show = !show" class="btn" > close </button>
          <h2 class="text"> First time here? Watch the tutorial :) </h2>
          <iframe width="500" height="280" src="https://www.youtube.com/embed/8iICQAYGEnc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          <br>
          <br>
          <button v-on:click="toggle" class="btn" > Continue to the App</button>
        </div>
      </transition>           <!--POP-UP-SHIT-->
    </div>
    <slide-menu v-if="showEverything===false"> </slide-menu>
  </div>
</template>

<script>
import saveState from 'vue-save-state';
import CupOfCoffee from './SingleComponents/CupOfCoffee';
import SlideMenu from './MainPage';
import AdditionalMenu from './Menu/AdditionalMenu';

export default {
  components: {
    AdditionalMenu,
    CupOfCoffee,
    SlideMenu },
  name: 'welcome-page',
  component: { CupOfCoffee, SlideMenu },
  mixins: [saveState],
  data() {
    return {
      product: 'W E L C O M E',
      name: 'Vue.js',
      show: false,
      showEverything: true,
      shownA: false,
    };
  },
  methods: {
    toggle() {
      this.showEverything = false;
      this.shownA = true;
    },
    getSaveStateConfig() {
      return {
        cacheKey: 'welcomePage',
      };
    },
  },
};
</script>

<style scoped>

  iframe{
    border-radius: 4%;
  }
  .fullscr{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }
  .text{
    font-family: 'Lato', sans-serif;
    color: #8a8a8a;
    font-size: 170%;
    text-align: center;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }

  .mainFrame {
    padding: 3%;
    margin: 3%;
  }
  .welcomeText {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 800%;
    text-align: center;
  }
  .button {
    background-color: rgba(0, 0, 0, 0.54); /* grey */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin:auto;
    display:block;
    border-radius: 10px;
  }

  .button4 {
    position: relative;
    left: 0;
    background-color: rgba(208, 208, 208, 0.57);
    color: rgba(0, 0, 0, 0.73);
    border: 1px solid rgba(105, 105, 105, 0);
  }

  .button4:hover {background-color: #ffffff;}

  .button5 {
    text-decoration-color: #e7e7e7;
    background-color: rgba(181, 90, 14, 0.45);
    color: rgb(231, 231, 231);
    border: 2px solid rgba(0, 0, 0, 0);
  }
  .slideUpGetStarted{
    z-index: 102;
    padding-top: 5%;
    background-color: rgba(41, 41, 41, 0.97);
    border-radius: 15px;
    position:fixed;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.43);
    top: 35%;
    left: 42%;
    width:50vw;
    height:530px;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/

  }
  .btn {
    font-size: 14px;
    margin: 0 0.5em;
    border-radius: 1em;
    padding: 0.75em 1.5em;
    cursor: pointer;
    background: none;
    color: #fff;
    border: 1px solid;
    letter-spacing: 1px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgba(180, 179, 179, 0.7);
    border: rgba(180, 173, 176, 0) 1px solid;
    transition: 250ms ease-out;
  }
  .btn:hover, .btn:focus {
    color: rgba(188, 189, 188, 0.7);
    background: rgba(97, 96, 99, 0.7);
  }
</style>
