<template>
<div>
  <textarea v-model="message" placeholder="add multiple lines" spellcheck="false"></textarea>
</div>
</template>

<script>
import saveState from 'vue-save-state';

export default {
  name: 'notes',
  mixins: [saveState],
  data() {
    return {
      message: '',
    };
  },
  methods: {
    getSaveStateConfig() {
      return {
        cacheKey: 'nameOfYourComponent',
      };
    },
  },
};
</script>

<style scoped>

  textarea{
    background-color: rgba(255, 153, 0, 0.37);
    width: 200px;
    height: 200px;
    border-radius: 1em;
    text-align: center;
    font-size: large;
    padding: 50px;
    margin: 20px;
    font-family: inherit;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.37);;
    color: rgba(0, 0, 0, 0.72);
  }
</style>
