<template>
  <div>
    <ul>
      <!--<li>-->
        <!--<a href="#" onclick="return false">-->
      <!--<textarea v-model="message1" placeholder="Take a note" spelheck="false"></textarea>-->
        <!--</a>-->
      <!--</li>-->
      <li>
      <a href="#" onclick="return false">
      <textarea v-model="message2" placeholder="Take a note" spellcheck="false"></textarea>
      </a>
      </li>
      <!--<li>-->
      <!--<a href="#" onclick="return false">-->
      <!--<textarea v-model="message3" placeholder="Take a note" spellcheck="false"></textarea>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#" onclick="return false">-->
      <!--<textarea v-model="message4" placeholder="Take a note" spellcheck="false"></textarea>-->
      <!--</a>-->
      <!--</li>-->
      <!--<li>-->
      <!--<a href="#" onclick="return false">-->
      <!--<textarea v-model="message5" placeholder="Take a note" spellcheck="false"></textarea>-->
      <!--</a>-->
      <!--</li>-->
    </ul>
  </div>
</template>

<script>
import saveState from 'vue-save-state';

export default {
  name: 'stickers2',
  mixins: [saveState],
  data() {
    return {
      message1: '',
      message2: '',
      message3: '',
      message4: '',
      message5: '',
    };
  },
  methods: {
    getSaveStateConfig() {
      return {
        cacheKey: 'sticker2',
      };
    },
  },
};
</script>

<style scoped>
  textarea {
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: #fbfff9;
    font-family: inherit;
    font-size: medium;
  }
  *{
    margin:0;
    padding:0;
  }
  body{
    font-family:arial,sans-serif;
    font-size:100%;
    margin:1em;
    background:#666;
    color:#fff;
  }
  h2,p{
    font-size:100%;
    font-weight:normal;
  }
  ul,li{
    list-style:none;
  }
  ul{
    overflow:hidden;
    padding:3em;
  }
  ul li a{
    text-decoration:none;
    color:#000;
    background: rgb(181, 184, 185);
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
  }
  ul li{
    margin:1em;
    float:left;
  }
  ul li h2{
    font-size:140%;
    font-weight:bold;
    padding-bottom:10px;
  }
  ul li p{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size:180%;
  }
  ul li a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
  }
  ul li:nth-child(even) a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background: #858384;
  }
  ul li:nth-child(3n) a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background: #b1afb3;
  }
  ul li:nth-child(5n) a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
  }
  ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  ol{text-align:center;}
  ol li{display:inline;padding-right:1em;}
  ol li a{color:#fff;}
</style>
