<template>
  <div id="app">
    <welcome-page/>
    <div id = "colorPallete">
      <table>
      <tr>
        <td><div class="blacc5" v-on:click ="changeBackground5"></div></td>
        <td><div class="blacc4" v-on:click ="changeBackground4"></div></td>
        <td><div class="blacc3" v-on:click ="changeBackground3"></div></td>
        <td><div class="blacc2" v-on:click ="changeBackground2"></div></td>
        <td><div class="blacc" v-on:click ="changeBackground1"></div></td>
      </tr>
      </table>
    </div>
  </div>
</template>

<script>
import saveState from 'vue-save-state';
import welcomePage from './components/WelcomePage';
import AdditionalMenu from './components/Menu/AdditionalMenu';

export default {
  name: 'App',
  components: {
    AdditionalMenu,
    welcomePage,
  },
  data() {
    return {
      show: welcomePage.data().showEverything,
      color: '#1e1e1e',
    };
  },
  methods: {
    restoreTheColor() {
      document.getElementsByTagName('BODY')[0].style.backgroundColor = this.color;
    },
    changeBackground1() {
      document.getElementsByTagName('BODY')[0].style.backgroundColor = 'black';
      this.color = 'black';
    },
    changeBackground2() {
      document.getElementsByTagName('BODY')[0].style.backgroundColor = '#1e1e1e';
      this.color = '#1e1e1e';
    },
    changeBackground3() {
      document.getElementsByTagName('BODY')[0].style.backgroundColor = '#343434';
      this.color = '#343434';
    },
    changeBackground4() {
      document.getElementsByTagName('BODY')[0].style.backgroundColor = '#494949';
      this.color = '#494949';
    },
    changeBackground5() {
      document.getElementsByTagName('BODY')[0].style.backgroundColor = '#676767';
      this.color = '#676767';
    },
    getSaveStateConfig() {
      return {
        cacheKey: 'app',
      };
    },
  },
  mixins: [saveState],
  mounted() {
    this.restoreTheColor();
  },
};
</script>

<style>
  body {
    background-color: #1e1e1e;
    transition: 0.5s;
  }
  .blacc {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: black;
  }
  .blacc2 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #272727;
  }
  .blacc3 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #343434;
  }
  .blacc4 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #494949;
  }
  .blacc5 {
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: #676767;
  }
  #colorPallete {
    position: fixed;
    right: 0;
    bottom: 0;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgba(44, 62, 80, 0);
  /*margin-top: 60px;*/
}
</style>
